<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brandsDic</key>
	<dict>
		<key>row</key>
		<dict>
			<key>min</key>
			<integer>2</integer>
			<key>max</key>
			<integer>2</integer>
		</dict>
		<key>col</key>
		<dict>
			<key>min</key>
			<integer>3</integer>
			<key>max</key>
			<integer>42</integer>
		</dict>
	</dict>
	<key>typesDic</key>
	<dict>
		<key>row</key>
		<dict>
			<key>min</key>
			<integer>3</integer>
			<key>max</key>
			<integer>188</integer>
		</dict>
		<key>col</key>
		<dict>
			<key>min</key>
			<integer>1</integer>
			<key>max</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
